<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">{{#if selectedGenre}}{{selectedGenre}}{{else}}All{{/if}} Movies <i data-feather="loader"
            class="spin hidden" id="spinner"></i></h1>
</div>

<div class="table-responsive">
    <div id="genres"></div>
    <table class="table table-striped table-sm" id="movie-table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Genres</th>
                <th>Average Ratings</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <div id="specific-movie">
        <div class="col-md-6">
            <ul class="list-group"></ul>
        </div>
    </div>
</div>

<script>
    //get genre from the server-side render
    let selectedGenre = '{{selectedGenre}}';
    let url = '/rest/movies/' + (selectedGenre ? `byGenre/${selectedGenre}` : 'all');

    //call REST service and render table
    $(document).ready(function () {
        $('#spinner').removeClass('hidden');
        $("#specific-movie").css({ display: 'none' });
        $.ajax(
            url,
            {
                success: (movies, textStatus, jqXHR) => {
                    // hide tablle
                    let tbody = $('#movie-table tbody');
                    tbody.empty();
                    if (movies && movies.length) {
                        movies.forEach(movie => {
                            tbody.append(`<tr>
                                <td data-attr=${movie.movieId}>
                                    <a href="javascript:void(0)">
                                        ${movie.title}
                                    </a>
                                    </td>
                                <td>
                                ${movie.genres.join(0).split(0).map(item => `<span class="badge badge-secondary">${item}</span>`).join(' ')}
                              </td>
                              <td>${movie.averageRating}</td>
                            </tr>`);
                        });
                    }
                },
                complete: () => {
                    $('#spinner').addClass('hidden');
                }
            }
        );
        $("tbody").on('click', 'td', function () {
            const data = $(this).attr('data-attr');
            const url = `/rest/movie/${data}`;
            // allow spinner to load
            $('#spinner').removeClass('hidden');
            $("#specific-movie").css({ display: 'block' });
            $.ajax(url, {
                success: (movie, status, jqXHR) => {
                    $("#movie-table").empty();
                    history.pushState(null, 'specific movie', `http://localhost:3000/movie/${data}`);
                    if (movie) {
                        $(".h2").text(`${movie[0].title}`);
                        $('#genres').append(
                            `${movie[0].genres.join(0).split(0).map(genres => `<span class="badge badge-primary">${genres}</span>`).join(' ')}`
                        );
                        movie.forEach(item => {
                            $("#specific-movie ul").append(`
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <div class="row">
                                <div class="col-md-6">
                                    <div class="font-weight-bold w-100">Date</div>
                                    <small>${item.date}</small>
                                </div>
                                 <div class="col-md-6">
                                   <div class="d-flex flex-column align-items-end justify-content-end w-100">
                                    <div class="font-weight-bold">Rating</div>
                                    <small class="badge badge-primary">${item.rating}</small>
                                 </div>
                                </div>
                            </div>
                            </li>
                     `)
                        })
                    }
                },
                complete: () => {
                    //stop spinner
                    $('#spinner').addClass('hidden');
                }
            })
        })
    });
</script>